/**
Global style rules
 */
:root{
  --screen-display: grid;
  --button-width: 170px;
  --button-height: 48px;
  --button-size: 1em;
  --input-width: 70%;
  --input-height: 2.5rem;
  --input-font-size: 1.5rem;
  --bottom-padding: 0px;
  --base-text-size: 1rem;
  --medium-text-size: calc(var(base-text-size) * 2);
  --large-text-size: calc(var(--base-text-size) * 3);
}

$mobileBreakPoint: 820px;

@keyframes anouncer-ad {
  0% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1.0);
  }
}

[banner-anouncer-ad]{
  animation: anouncer-ad 2s;
  font-family: "Times New Roman", Georgia;
}

a{
  text-decoration: none;
  font-family: "Times New Roman", Georgia !important;
}


h1, h2, h3, h4, h5, h6, button {
  font-family: "Times New Roman", Georgia;
}

h1{
  font-size: var(--large-text-size);
}
h2 {
  font-size: var(--medium-text-size);
}

h3{
  font-size: var(--medium-text-size);
}

[text-large]{
  font-size: var(--large-text-size);
}

[text-medium]{
  font-size: calc(var(--base-text-size) * 2);
}

[text-base]{
  font-size: var(--base-text-size);
}


@keyframes blink {
    0%{
      background-color: transparent;
    }
  100%{
    background-color: #FFF6BB;
  }
}

[blink] {
  animation: blink 1s infinite;
}

@mixin mobile {
  @media only screen and (max-width:  #{$mobileBreakPoint})  {
    @content;
  }
}

@mixin touchscreen {
  @media (hover: none) and (pointer: coarse) {
    @content;
  }
}

@mixin tabletview {
  @media (min-width: 768px) and (max-width: 1024px) {
    @content;
  }
}