@import "globals";

$colors: (
        primary-theme: hsl(194, 100%, 23%),
        primary-theme-complement: complement(hsla(194, 100%, 23%, 1)),
        footer-bg: #427d8f,
        footer-text-color: #FFF6BB,
        theme-button-colors: purple,
        header-color: hsla(48, 24%, 43%, 1),
        danger-color: hsl(340, 80%, 20%),
        header-theme-bg-color: #427d8f,
        header-theme-color: #FFF6BB,
);

$arrow-size: 65px;

@function getColor($color-name) {
  @return map-get($colors, $color-name)
}

%header-theme {
  background-color: getColor(header-theme-bg-color);
  color: getColor(header-theme-color);
}

%footer-theme {
  background-color: getColor(footer-bg);
  color: getColor(footer-text-color);
}


body, html {
  height: 100%;
}

button{
  height: var(--button-height);
  width: var(--button-width);
  font-size: var(--button-size);
  background-color: getColor(theme-button-colors);
  &:hover{
    cursor: pointer;
    color: #FFF6BB;
  }
  @include mobile {
    margin: 12px 0;
  }

  @include touchscreen {
   // Set touch behaiviour
  }

}
h1,h2,h3,h4,h5,h6 {
  color: getColor(header-color);
}

p, strong, a{
  color: lighten(getColor(header-color), 20%);
  font-size: 20px;
  line-height: 1.5em;
  letter-spacing: 1.5px;
  font-family:  Arial;
}


input {
    width: var(--input-width);
    height: 2.5rem;
    font-size: var(--input-font-size);
    font-weight: 100;
    background-color: #fffcef;
    padding-left: 17px;
    font-family: none;
    text-align: left;
    @include mobile {
      margin: 12px 0;
    }
    @include tabletview {
      --input-width: 50%;
      --input-font-size: 2rem;
    }
  }

.light-text {
  color: lighten(map-get($colors, header-color), 20%);
}

.text-danger {
  color: darken(map_get($colors, danger-color), 10%);
}


@function setColor($colorValue) {
  @if(hue($colorValue) - hue(map_get($colors, primary-theme)) < 0 ) {
    @return hsl(hue($colorValue) - 100, 50%, 65%);
  } @else {
     @return hsl(hue($colorValue) + 100, 50%, 65%);
  }
}

span {
  color: setColor(green);
}